@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.glow-effect {
  position: relative;
}

.glow-effect::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  box-shadow: 7px 18px 20px rgba(135, 43, 247, 0.7);
  filter: blur(10px);
  opacity: 0.7;
  pointer-events: none;
}

.glow-effect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: rgb(168, 85, 247);
}

a:hover {
  transform: translateX(2px);
}
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
