---
import { Image } from "astro:assets";
---

<div class="flex flex-col items-center justify-center py-16">
  <Image
    src="/src/assets/3d-rendering-yeti.jpg"
    alt="No appointments"
    height={256}
    width={256}
    class="mb-6 rounded-2xl"
  />
  <p class="text-gray-500 text-lg">
    No se encontraron registros para esta sección...
  </p>
</div>
